<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 Kestrel Technology LLC
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="net.certware.argument.caz.presentation.CazModelWizardID"
            name="%_UI_CazModelWizard_label"
            class="net.certware.argument.caz.presentation.CazModelWizard"
            category="net.certware.core.ui.newwizard.category"
            icon="icons/full/obj16/CazModelFile.gif">
         <description>%_UI_CazModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.argument.caz.presentation.CazEditorID"
            name="%_UI_CazEditor_label"
            icon="icons/full/obj16/CazModelFile.gif"
            extensions="caz"
            class="net.certware.argument.caz.presentation.CazEditor"
            contributorClass="net.certware.argument.caz.presentation.CazActionBarContributor">
      </editor>
   </extension>

</plugin>
