<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ftp -->
      <wizard
            id="ftp.presentation.FtpModelWizardID"
            name="%_UI_FtpModelWizard_label"
            class="ftp.presentation.FtpModelWizard"
            category="net.certware.core.ui.newwizard.category"
            icon="icons/full/obj16/FtpModelFile.gif">
         <description>%_UI_FtpModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ftp -->
      <editor
            id="ftp.presentation.FtpEditorID"
            name="%_UI_FtpEditor_label"
            icon="icons/full/obj16/FtpModelFile.gif"
            extensions="ftp"
            class="ftp.presentation.FtpEditor"
            contributorClass="ftp.presentation.FtpActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.certware.perspective">
         <newWizardShortcut
               id="ftp.presentation.FtpModelWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
