<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 MSPDI is copyright Microsoft, Inc.
 Implementation wrapper in ecore done by Kestrel Technology LLC
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://schemas.microsoft.com/project"
            class="net.certware.planning.mspdi.provider.MspdiItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
