*.pydevproject
.metadata
bin/
target/
generated/
generated-sources/
src-gen/
xtend-gen/
.DS_Store
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.class
*~

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# TeXlipse plugin
.texlipse