/MydiagramDiagramTypeProvider.java
/MydiagramDiagramTypeProviderBase.java
/MydiagramFeatureProvider.java
/MydiagramFeatureProviderBase.java
/MydiagramImageProvider.java
/MydiagramImageProviderBase.java
/MydiagramModelService.java
/MydiagramToolBehaviorProvider.java
/MydiagramToolBehaviorProviderBase.java
