<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.certware.core.ui.category"
            description="Writes the repository to standard output"
            id="net.certware.history.egit.command.dump"
            name="Dump Repository">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.certware.history.egit.handlers.DumpHandler"
            commandId="net.certware.history.egit.command.dump">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.certware.history.egit.command.dump"
            icon="icons/obj16/dump.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.certware.history.egit.dump.project"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="net.certware.history.egit.actions.DumpProjectAction"
               enablesFor="+"
               helpContextId="projectDump"
               icon="icons/obj16/dump.gif"
               id="net.certware.history.egit.action.dump.console"
               label="Dump history to console"
               tooltip="Dump the project history metrics to the console">
         </action>
      </objectContribution>
   </extension>

</plugin>
