<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Writes the repository to standard output"
            id="net.certware.history.egit.command.dump"
            name="Dump Repository">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Gathers change history to an SCO file"
            helpContextId="history.dump"
            id="net.certware.history.egit.gather"
            name="Gather change history">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Dumps change history to the console"
            helpContextId="history.dump"
            id="net.certware.history.egit.dump.project"
            name="Dump change history">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.certware.history.egit.handlers.DumpHandler"
            commandId="net.certware.history.egit.command.dump">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.certware.history.egit.command.dump"
            icon="icons/obj16/dump.gif">
      </image>
      <image
            commandId="net.certware.history.egit.gather"
            icon="icons/obj16/sco.gif">
      </image>
      <image
            commandId="net.certware.history.egit.dump.project"
            icon="icons/obj16/dump.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certware.history.egit.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="certware"
            class="net.certware.history.egit.preferences.PreferencePage"
            id="net.certware.history.egit.page"
            name="EGit History Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/obj16/certware.gif"
               id="net.certware.popup"
               label="CertWare"
               tooltip="CertWare associated UI commands">
            <separator
                  name="cps">
            </separator>
            <command
                  commandId="net.certware.history.egit.gather"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="net.certware.history.egit.dump.project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
