<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated StateAnalysis -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="stateAnalysis.presentation.StateAnalysisModelWizardID"
            name="%_UI_StateAnalysisModelWizard_label"
            class="stateAnalysis.presentation.StateAnalysisModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StateAnalysisModelFile.gif">
         <description>%_UI_StateAnalysisModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated StateAnalysis -->
      <editor
            id="stateAnalysis.presentation.StateAnalysisEditorID"
            name="%_UI_StateAnalysisEditor_label"
            icon="icons/full/obj16/StateAnalysisModelFile.gif"
            extensions="stateanalysis"
            class="stateAnalysis.presentation.StateAnalysisEditor"
            contributorClass="stateAnalysis.presentation.StateAnalysisActionBarContributor">
      </editor>
   </extension>

</plugin>
