<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="CertWare Target">
<locations>
<location path="${workspace_loc}/net.certware.target/delta.pack/eclipse" type="Directory"/>
<location includeAllPlatforms="false" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="3.6.0.I20100608-0911"/>
<unit id="org.eclipse.sdk.ide" version="3.6.0.I20100608-0911"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.0.v20100614-1136"/>
<repository location="http://download.eclipse.org/releases/helios/"/>
</location>
</locations>
</target>
