<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="CertWare Target">
<locations>
<location path="${workspace_loc}/net.certware.target/delta.pack/eclipse" type="Directory"/>
<location id="org.eclipse.epsilon.gmf.feature" path="/Users/mrbarryold/Applications/Eclipse-3.6-Model-64" type="Feature"/>
<location id="org.eclipse.epsilon.eugenia.feature" path="/Users/mrbarryold/Applications/Eclipse-3.6-Model-64" type="Feature"/>
<location path="${workspace_loc}/net.certware.target/testing" type="Directory"/>
<location id="org.eclipse.equinox.p2.user.ui" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.epsilon.evl.emf.validation.feature" path="/Users/mrbarryold/Applications/Eclipse-3.6-Model-64" type="Feature"/>
<location id="org.eclipse.epsilon.feature" path="/Users/mrbarryold/Applications/Eclipse-3.6-Model-64" type="Feature"/>
<location id="org.eclipse.epsilon.hutn.feature" path="/Users/mrbarryold/Applications/Eclipse-3.6-Model-64" type="Feature"/>
<location path="${eclipse_home}" type="Profile"/>
</locations>
</target>
