<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="CertWare"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="CertWare Application Workbench"
            name="CertWare">
         <property
               name="appName"
               value="CertWare">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="introTitle"
               value="CertWare Safety Case Workbench">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/obj64/certware-64.gif">
         </property>
         <property
               name="introBrandingImageText"
               value="CertWare">
         </property>
         <property
               name="introDescription-overview"
               value="Overview">
         </property>
         <property
               name="introDescription-firststeps"
               value="First Steps">
         </property>
         <property
               name="introDescription-tutorials"
               value="Tutorials">
         </property>
         <property
               name="introDescription-samples"
               value="Samples">
         </property>
         <property
               name="introDescription-whatsnew"
               value="What&apos;s New">
         </property>
         <property
               name="introDescription-migrate"
               value="Migration">
         </property>
         <property
               name="introDescription-webresources"
               value="Web Resources">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>

</plugin>
