<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 CertWare Project
 Copyright (c) 2010 National Aeronautics and Space Administration
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="checklist"
            class="net.certware.verification.checklist.provider.ChecklistItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.IItemColorProvider
               org.eclipse.emf.edit.provider.IItemFontProvider"/>
   </extension>

</plugin>
