<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.certware.core.ui.newwizard.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.certware.core.ui.importwizard.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="net.certware.core.ui.exportwizard.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="CertWare Platform UI Commands"
            id="net.certware.core.ui.command.category"
            name="CertWare Commands">
      </category>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Establishes an active listener link between the view and editor"
            id="net.certware.core.ui.linkEditor"
            name="Link with Editor">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.certware.core.ui.preferences.CorePreferencePage"
            id="certware"
            name="CertWare">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certware.core.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="net.certware.core.ui.cheatsheets"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.certware.core.ui.view.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.certware.core.ui.perspectives.PerspectiveFactory"
            fixed="false"
            icon="icons/obj16/certware.gif"
            id="net.certware.perspective"
            name="CertWare">
         <description>
            CertWare perspective for the workbench.
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr7/certware-ovr.gif"
            id="net.certware.core.ui.nature.id"
            natureId="">
      </image>
   </extension>
      <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="net.certware.core.ui.decorators.ResourceLabelDecorator"
            id="net.certware.core.project.decorator"
            label="Project Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/obj16/certware.gif"
               id="certware_popup"
               label="CertWare"
               tooltip="CertWare natures and builders">
            <dynamic
                  class="net.certware.core.ui.contributions.ToggleProjectNature"
                  id="net.certware.project.nature.dynamic">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.certware.core.ui.handlers.LinkEditor"
            commandId="net.certware.core.ui.linkEditor">
      </handler>
   </extension>
 <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.cheatsheets.openCheatSheet"
            icon="icons/obj16/cheatsheet.gif">
      </image>
   </extension>
 <extension
       point="org.eclipse.ui.splashHandlers">
    <splashHandler
          class="net.certware.core.ui.splash.OverlaySplashHandler"
          id="net.certware.core.ui.splash.overlay">
    </splashHandler>
    <splashHandlerProductBinding
          productId="net.certware.product.CertWare"
          splashId="net.certware.core.ui.splash.overlay">
    </splashHandlerProductBinding>
 </extension>
 <extension
       id="net.certware.resource.nature.id"
       name="CertWare Nature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="net.certware.core.ui.natures.ProjectNature">
       </run>
    </runtime>
 </extension>
</plugin>
