<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.certware.core.ui.newwizard.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.certware.core.ui.importwizard.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="net.certware.core.ui.exportwizard.category"
            name="CertWare">
      </category>
   </extension>

</plugin>
