<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.certware.core.ui.newwizard.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.certware.core.ui.importwizard.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="net.certware.core.ui.exportwizard.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="CertWare Platform UI Commands"
            id="net.certware.core.ui.command.category"
            name="CertWare Commands">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.certware.core.ui.preferences.CorePreferencePage"
            id="certware"
            name="CertWare">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certware.core.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="net.certware.core.ui.cheatsheets"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.certware.core.ui.view.category"
            name="CertWare">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.certware.core.ui.perspectives.PerspectiveFactory"
            fixed="false"
            icon="icons/obj16/certware.gif"
            id="net.certware.perspective"
            name="CertWare">
         <description>
            CertWare perspective for the workbench.
         </description>
      </perspective>
   </extension>

</plugin>
