<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2011 National Aeronautics and Space Administration
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.certware.net/spm"
            class="net.certware.measurement.spm.SpmPackage"
            genModel="model/spm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="spm"
            class="net.certware.measurement.spm.util.SpmResourceFactoryImpl"/>
   </extension>

</plugin>
