<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="net.certware.sacm.viewpoint.Activator"
               id="net.certware.sacm.viewpoint"
	       name="sacm">
    </component>
  </extension>
</plugin>
