<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.certware.core.ui.view.category"
            class="net.certware.planning.cpn.view.CpnViewMasterDetails"
            icon="icons/obj16/cpn.gif"
            id="net.certware.planning.cpn.view.masterdetailsview"
            name="CertWare Planning"
            restorable="true">
         <description>
            Provides a master-details view of the data contained in the CertWare Planning Notation (CPN) file.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.certware.perspective">
         <view
               id="net.certware.planning.cpn.view.masterdetailsview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <viewShortcut
               id="net.certware.planning.cpn.view.masterdetailsview">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="net.certware.planning.cpn.view.open"
            nameFilter="*.cpn"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/obj16/certware.gif"
               id="certware"
               label="CertWare"
               path="group.build">
            <separator
                  name="markers">
            </separator>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="net.certware.planning.cpn.view.actions.OpenView"
               enablesFor="1"
               icon="icons/obj16/cpn.gif"
               id="net.certware.planning.cpn.view.action.openview"
               label="Open in CPN View"
               menubarPath="certware/additions"
               tooltip="Open the CPN content in its view">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="net.certware.planning.cpn.write.mspdi"
            nameFilter="*.cpn"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/obj16/certware.gif"
               id="certware"
               label="CertWare"
               path="group.build">
            <separator
                  name="markers">
            </separator>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="net.certware.planning.cpn.view.actions.CreateProjectAction"
               enablesFor="1"
               icon="icons/obj16/ms_office.gif"
               id="net.certware.planning.cpn.view.action.write.mspdi"
               label="Create Microsoft Project File"
               menubarPath="certware/additions"
               tooltip="Translate CPN tasks and resources to MSPDI tasks and resources">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certware.planning.cpn.view.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="certware"
            class="net.certware.planning.cpn.view.preferences.PreferencePage"
            id="net.certware.planning.cpn.view.preferences.page"
            name="CPN View and Actions">
      </page>
   </extension>

</plugin>
