<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2011 Object Management Group (SAEM metamodel)
 Copyright (c) 2011 National Aeronautics and Space Administration (generated models) 
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="net.certware.evidence.evidence.presentation.EvidenceModelWizardID"
            name="%_UI_EvidenceModelWizard_label"
            class="net.certware.evidence.evidence.presentation.EvidenceModelWizard"
            category="net.certware.core.ui.newwizard.category"
            icon="icons/full/obj16/EvidenceModelFile.gif">
         <description>%_UI_EvidenceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.evidence.evidence.presentation.EvidenceEditorID"
            name="%_UI_EvidenceEditor_label"
            icon="icons/full/obj16/EvidenceModelFile.gif"
            extensions="evidence"
            class="net.certware.evidence.evidence.presentation.EvidenceEditor"
            contributorClass="net.certware.evidence.evidence.presentation.EvidenceActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.certware.perspective">
         <newWizardShortcut
               id="net.certware.evidence.evidence.presentation.EvidenceModelWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
