<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2011 National Aeronautics and Space Administration
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="net.certware.measurement.sco.presentation.ScoModelWizardID"
            name="%_UI_ScoModelWizard_label"
            class="net.certware.measurement.sco.presentation.ScoModelWizard"
            category="net.certware.core.ui.newwizard.category"
            icon="icons/full/obj16/sco.gif">
         <description>%_UI_ScoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.measurement.sco.presentation.ScoEditorID"
            name="%_UI_ScoEditor_label"
            icon="icons/full/obj16/sco.gif"
            extensions="sco"
            class="net.certware.measurement.sco.presentation.ScoEditor"
            contributorClass="net.certware.measurement.sco.presentation.ScoActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.certware.perspective">
         <newWizardShortcut
               id="net.certware.measurement.sco.presentation.ScoModelWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

<extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionProvider">
      <PropertiesEditionComponentProvider
            providerClass="net.certware.measurement.sco.providers.ScoPackagePropertiesEditionProvider">
      </PropertiesEditionComponentProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPolicyProvider">
      <PropertiesEditionPolicyProvider
            providerClass="net.certware.measurement.sco.providers.ScoPackagePropertiesEditionPolicyProvider">
      </PropertiesEditionPolicyProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="net.certware.measurement.sco.providers.ScoPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="net.certware.measurement.sco.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.certware.measurement.sco.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.certware.measurement.sco.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.measurement.sco.section.TotalChangeOrders"
               tab="Base">
             <input
                    type="net.certware.measurement.sco.TotalChangeOrders">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.measurement.sco.section.CriticalDefectChangeOrders"
               tab="Base">
             <input
                    type="net.certware.measurement.sco.CriticalDefectChangeOrders">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.measurement.sco.section.NormalDefectChangeOrders"
               tab="Base">
             <input
                    type="net.certware.measurement.sco.NormalDefectChangeOrders">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.measurement.sco.section.ImprovementChangeOrders"
               tab="Base">
             <input
                    type="net.certware.measurement.sco.ImprovementChangeOrders">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.measurement.sco.section.NewFeatureChangeOrders"
               tab="Base">
             <input
                    type="net.certware.measurement.sco.NewFeatureChangeOrders">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.measurement.sco.section.ArtifactIdentifier"
               tab="Base">
             <input
                    type="net.certware.measurement.sco.ArtifactIdentifier">
             </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
