<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.certware.argument.transform.gsn2arm.objectContribution"
            nameFilter="*.gsn"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="net.certware.argument.transform.gsn2arm.TransformAction"
               enablesFor="*"
               helpContextId="gsn2arm"
               icon="icons/obj16/atl_logo.gif"
               id="net.certware.argument.transform.gsn2arm.action"
               label="Transform to an ARM model"
               tooltip="Applies an ATL transformation to the GSN model">
         </action>
      </objectContribution>
   </extension>

</plugin>
