<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="net.certware.core.ui.exportwizard.category"
            class="net.certware.export.wizards.ExportSummaryWizard"
            icon="icons/obj16/icon_DOC_small.png"
            id="net.certware.export.wizard.arm.doc"
            name="ARM Argument to Word Document">
         <description>
            Exports selected argument files to Word documents.
         </description>
         <selection
               class="org.eclipse.core.resources.IFile">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.certware.export.category"
            description="Exports the selected ARM nodes to a Word Document"
            helpContextId="export_arm"
            id="net.certware.export.command.arm"
            name="Export ARM to Word Document">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.certware.export.command.arm"
            icon="icons/obj16/icon_DOC_small.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.certware.export.arm.handlers.ExportARMHandler"
            commandId="net.certware.export.command.arm"
            helpContextId="export_arm">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <or>
                     <instanceof
                           value="net.certware.argument.arm.Argument">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.Annotation">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.ArgumentReasoning">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.ArgumentElement">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.ArgumentLink">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.AssertedChallenge">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.AssertedContext">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.AssertedCounterEvidence">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.AssertedEvidence">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.AssertedInference">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.AssertedRelationship">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.CitationElement">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.Claim">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.EvidenceAssertion">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.InformationElement">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.ModelElement">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.ReasoningElement">
                     </instanceof>
                     <instanceof
                           value="net.certware.argument.arm.TaggedValue">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:net.certware.argument.arm.presentation.ArmEditorID?after=additions">
         <menu
               icon="icons/obj16/export_wiz.gif"
               label="Export"
               mnemonic="E"
               tooltip="Export selection to file system">
            <command
                  commandId="net.certware.export.command.arm"
                  helpContextId="export_arm"
                  label="Word Document..."
                  mnemonic="W"
                  style="push"
                  tooltip="Exports ARM node selection to Word document">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="net.certware.export">
      <exportOperation
            class="net.certware.export.arm.jobs.FileSystemExporter"
            fileExtension="arm">
      </exportOperation>
      <exportOperation
            class="net.certware.export.arm.jobs.FileSystemExporter"
            fileExtension="arx">
      </exportOperation>
   </extension>

</plugin>
