<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 National Aeronautics and Space Administration
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="net.certware.argument.cae.presentation.CaeModelWizardID"
            name="CAE Model"
            class="net.certware.argument.cae.presentation.CaeModelWizard"
            category="net.certware.core.ui.newwizard.category"
            icon="icons/full/obj16/CaeModelFile.gif">
         <description>Creates a new CAE argument model.</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.argument.cae.presentation.CaeEditorID"
            name="CAE Model Editor"
            icon="icons/full/obj16/CaeModelFile.gif"
            extensions="cae"
            class="net.certware.argument.cae.presentation.CaeEditor"
            contributorClass="net.certware.argument.cae.presentation.CaeActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.certware.perspective">
         <newWizardShortcut
               id="net.certware.argument.cae.presentation.CaeModelWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
 
  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.certware.net/cae"
            class="net.certware.argument.cae.providers.CaeEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="net.certware.argument.cae.providers.CaePropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="net.certware.argument.cae.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.certware.argument.cae.properties">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.certware.argument.cae.properties">
         <propertySection
               class="net.certware.argument.cae.parts.forms.ClaimPropertiesEditionPartForm"
               filter="net.certware.argument.cae.providers.ClaimPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.cae.section.Claim"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.cae.parts.forms.ArgumentPropertiesEditionPartForm"
               filter="net.certware.argument.cae.providers.ArgumentPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.cae.section.Argument"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.cae.parts.forms.EvidencePropertiesEditionPartForm"
               filter="net.certware.argument.cae.providers.EvidencePropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.cae.section.Evidence"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.cae.parts.forms.AssumptionPropertiesEditionPartForm"
               filter="net.certware.argument.cae.providers.AssumptionPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.cae.section.Assumption"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.cae.parts.forms.ContextPropertiesEditionPartForm"
               filter="net.certware.argument.cae.providers.ContextPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.cae.section.Context"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.cae.parts.forms.JustificationPropertiesEditionPartForm"
               filter="net.certware.argument.cae.providers.JustificationPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.cae.section.Justification"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
