<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.certware.net/state/StateAnalysis" 
       class = "net.certware.state.stateAnalysis.StateAnalysisPackage"
       genModel = "model/generated/StateAnalysis.genmodel" /> 
	
  </extension>



</plugin>
