<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 National Aeronautics and Space Administration
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="net.certware.argument.eur.presentation.EurModelWizardID"
            name="EUROCONTROL Model"
            class="net.certware.argument.eur.presentation.EurModelWizard"
            category="net.certware.core.ui.newwizard.category"
            icon="icons/full/obj16/EurModelFile.gif">
         <description>%_UI_EurModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.argument.eur.presentation.EurEditorID"
            name="%_UI_EurEditor_label"
            icon="icons/full/obj16/EurModelFile.gif"
            extensions="eur"
            class="net.certware.argument.eur.presentation.EurEditor"
            contributorClass="net.certware.argument.eur.presentation.EurActionBarContributor">
      </editor>
   </extension>

 <!-- EEF extensions -->
  <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionProvider">
      <PropertiesEditionComponentProvider
            providerClass="net.certware.argument.eur.providers.EurPackagePropertiesEditionProvider">
      </PropertiesEditionComponentProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPolicyProvider">
      <PropertiesEditionPolicyProvider
            providerClass="net.certware.argument.eur.providers.EurPackagePropertiesEditionPolicyProvider">
      </PropertiesEditionPolicyProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="net.certware.argument.eur.providers.EurPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

   <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="net.certware.argument.eur.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.certware.argument.eur.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.certware.argument.eur.properties">
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.argument.eur.section.Argument"
               tab="Base">
             <input
                    type="net.certware.argument.eur.Argument">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.argument.eur.section.Strategy"
               tab="Base">
             <input
                    type="net.certware.argument.eur.Strategy">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.argument.eur.section.Solution"
               tab="Base">
             <input
                    type="net.certware.argument.eur.Solution">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.argument.eur.section.Assumption"
               tab="Base">
             <input
                    type="net.certware.argument.eur.Assumption">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.argument.eur.section.Context"
               tab="Base">
             <input
                    type="net.certware.argument.eur.Context">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.argument.eur.section.Justification"
               tab="Base">
             <input
                    type="net.certware.argument.eur.Justification">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.emf.eef.runtime.ui.properties.sections.PropertiesEditionSection"
               id="net.certware.argument.eur.section.Criteria"
               tab="Base">
             <input
                    type="net.certware.argument.eur.Criteria">
             </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.certware.perspective">
         <newWizardShortcut
               id="net.certware.argument.eur.presentation.EurModelWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
