<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 Object Management Group (ARM metamodel)
 Copyright (c) 2010 Kestrel Technology LLC (generated models) 
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="net.certware.argument.arm.presentation.ArmModelWizardID"
            name="ARM Model"
            class="net.certware.argument.arm.presentation.ArmModelWizard"
            category="net.certware.core.ui.newwizard.category"
            icon="icons/full/obj16/ArmModelFile.gif">
         <description>Creates a new ARM argument model.</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.argument.arm.presentation.ArmEditorID"
            name="ARM Model Editor"
            icon="icons/full/obj16/ArmModelFile.gif"
            extensions="arm"
            class="net.certware.argument.arm.presentation.ArmEditor"
            contributorClass="net.certware.argument.arm.presentation.ArmActionBarContributor">
      </editor>
   </extension>

</plugin>
