<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="net.certware.core.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            category="CertWare"
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
