/plugin.xml
/plugin_diagramtype.xml
/plugin_diagramtypeprovider.xml
/plugin_graphitieditor.xml
/plugin_imageprovider.xml
/plugin_newdiagramwizard.xml
/plugin_propertysections.xml
/plugin_propertytabs.xml
