<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="net.certware.core.ui.view.category"
            class="net.certware.evidence.hugin.view.ViewTree"
            icon="icons/view16/samiam-icon.png"
            id="net.certware.evidence.hugin.view.ViewTree"
            name="SamIam Analysis"
            restorable="true">
         <description>
            SamIam analysis view of Hugin network node structure as tree with nodes and values.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.certware.perspective">
         <view
               id="net.certware.evidence.hugin.view.ViewTree"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
         <viewShortcut
               id="net.certware.evidence.hugin.view.ViewTree">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.certware.evidence.hugin.view.testers.LoadedTester"
            id="net.certware.evidence.hugin.view.loadedTester"
            namespace="net.certware.evidence.hugin"
            properties="isLoaded,isNotLoaded"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="net.certware.evidence.hugin.view.testers.DirtyTester"
            id="net.certware.evidence.hugin.view.dirtyTester"
            namespace="net.certware.evidence.hugin"
            properties="isDirty,isNotDirty"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="net.certware.evidence.hugin.view.testers.SelectedTester"
            id="net.certware.evidence.hugin.view.selectedTester"
            namespace="net.certware.evidence.hugin"
            properties="isSelected,isNotSelected"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="certware"
            class="net.certware.evidence.hugin.view.preferences.ViewTreePreferencePage"
            id="net.certware.evidence.hugin.view.page"
            name="SamIam Analysis">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.certware.evidence.hugin.view.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.certware.export.category"
            description="Writes the network to an Excel file"
            helpContextId="export_wizard_page_context"
            id="net.certware.evidence.hugin.view.export"
            name="Export to Excel">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Save the network model content to its file"
            helpContextId="hugin_analysis_context"
            id="net.certware.evidence.hugin.view.save"
            name="Save">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Perform MAP calculation on selected variables"
            helpContextId="hugin_analysis_context"
            id="net.certware.evidence.hugin.view.map"
            name="Perform MAP analysis">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Perform MPE calculation on selected variables"
            helpContextId="hugin_analysis_context"
            id="net.certware.evidence.hugin.view.mpe"
            name="Perform MPE analysis">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Perform Pr(e) query on given evidence"
            helpContextId="hugin_analysis_context"
            id="net.certware.evidence.hugin.view.pre"
            name="Perform Pr(e) analysis">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Perform sensitivity query on given evidence"
            helpContextId="hugin_analysis_context"
            id="net.certware.evidence.hugin.view.sensitivity"
            name="Perform sensitivity analysis">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Deselects all variable and state selections in the tree"
            helpContextId="hugin_analysis_context"
            id="net.certware.evidence.hugin.view.deselect"
            name="Deselect all">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Selects all variable nodes in the network"
            helpContextId="hugin_analysis_context"
            id="net.certware.evidence.hugin.view.selectnodes"
            name="Select all nodes">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Writes evidence selections to a resource"
            helpContextId="hugin_instance_context"
            id="net.certware.evidence.hugin.view.evidence.save"
            name="Write evidence">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            description="Restores evidence selections from a resource"
            helpContextId="hugin_instance_context"
            id="net.certware.evidence.hugin.view.evidence.restore"
            name="Restore evidence">
      </command>
      <command
            categoryId="net.certware.core.ui.command.category"
            defaultHandler="net.certware.evidence.hugin.view.handlers.OpenViewHandler"
            description="Opens network in SamIam view"
            helpContextId="hugin_instance_context"
            id="net.certware.evidence.hugin.view.network.open"
            name="Open network view">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.certware.evidence.hugin.view.export"
            disabledIcon="icons/dtool16/export_wiz.gif"
            icon="icons/etool16/export_wiz.gif">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.save"
            disabledIcon="icons/dtool16/save_edit.gif"
            icon="icons/etool16/save_edit.gif">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.map"
            disabledIcon="icons/dtool16/certware-run-d16.gif"
            icon="icons/obj16/certware-run.png">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.mpe"
            disabledIcon="icons/dtool16/certware-run-d16.gif"
            icon="icons/obj16/certware-run.png">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.pre"
            disabledIcon="icons/dtool16/certware-run-d16.gif"
            icon="icons/obj16/certware-run.png">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.selectnodes"
            icon="icons/obj16/select_nodes.gif">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.deselect"
            icon="icons/obj16/deselect_all.gif">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.evidence.save"
            disabledIcon="icons/dtool16/annotate.gif"
            icon="icons/obj16/annotate.gif">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.evidence.restore"
            disabledIcon="icons/dtool16/restore.gif"
            icon="icons/obj16/restore.gif">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.sensitivity"
            disabledIcon="icons/dtool16/certware-run-d16.gif"
            icon="icons/obj16/certware-run.png">
      </image>
      <image
            commandId="net.certware.evidence.hugin.view.network.open"
            icon="icons/view16/samiam-icon.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.certware.evidence.hugin.view.handlers.ExportNetworkHandler"
            commandId="net.certware.evidence.hugin.view.export">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isLoaded">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="net.certware.evidence.hugin.view.handlers.SaveHandler"
            commandId="net.certware.evidence.hugin.view.save">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isDirty">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="net.certware.evidence.hugin.view.handlers.MapCalculationHandler"
            commandId="net.certware.evidence.hugin.view.map">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isSelected">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="net.certware.evidence.hugin.view.handlers.MpeCalculationHandler"
            commandId="net.certware.evidence.hugin.view.mpe">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isSelected">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="net.certware.evidence.hugin.view.handlers.PreCalculationHandler"
            commandId="net.certware.evidence.hugin.view.pre">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isSelected">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="net.certware.evidence.hugin.view.handlers.SelectNodesHandler"
            commandId="net.certware.evidence.hugin.view.selectnodes">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isLoaded">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="net.certware.evidence.hugin.view.handlers.DeselectHandler"
            commandId="net.certware.evidence.hugin.view.deselect">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isSelected">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="net.certware.evidence.hugin.view.handlers.SaveAsEvidenceHandler"
            commandId="net.certware.evidence.hugin.view.evidence.save">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isLoaded">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="net.certware.evidence.hugin.view.handlers.RestoreEvidenceHandler"
            commandId="net.certware.evidence.hugin.view.evidence.restore">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isLoaded">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="net.certware.evidence.hugin.view.handlers.SensitivityCalculationHandler"
            commandId="net.certware.evidence.hugin.view.sensitivity">
         <enabledWhen>
            <and>
               <test
                     property="net.certware.evidence.hugin.isSelected">
               </test>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.certware.evidence.hugin.view.ViewTree?after=additions">
         <command
               commandId="net.certware.evidence.hugin.view.map"
               helpContextId="samiam_analysis_context"
               label="MAP Analysis"
               mnemonic="M"
               style="push"
               tooltip="Compute the maximum a posteriori values">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.mpe"
               helpContextId="samiam_analysis_context"
               label="MPE Analysis"
               mnemonic="E"
               style="push"
               tooltip="Compute the most probable explanation (MPE) values">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.pre"
               helpContextId="samiam_analysis_context"
               label="Pr(e) Query"
               mnemonic="P"
               style="push"
               tooltip="Compute the probability of evidence Pr(e) and marginals">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.sensitivity"
               helpContextId="samiam_analysis_context"
               label="Sensitivity"
               mnemonic="S"
               style="push"
               tooltip="Compute the sensitivity analysis for the selected value">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.evidence.save"
               helpContextId="samiam_analysis_context"
               label="Evidence"
               mnemonic="E"
               style="push"
               tooltip="Save the evidence selections to a file">
         </command>
         <separator
               name="markers"
               visible="false">
         </separator>
         <separator
               name="help"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.certware.evidence.hugin.view.ViewTree?after=additions">
         <command
               commandId="net.certware.evidence.hugin.view.map"
               helpContextId="samiam_analysis_context"
               label="MAP Analysis"
               mnemonic="M"
               style="push"
               tooltip="Compute the maximum a posteriori estimate">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.mpe"
               helpContextId="samiam_analysis_context"
               label="MPE Analysis"
               mnemonic="E"
               style="push"
               tooltip="Compute the most probable explanation (MPE) values">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.pre"
               helpContextId="samiam_analysis_context"
               label="Pr(e) Query"
               mnemonic="P"
               style="push"
               tooltip="Compute the probability of evidence Pr(e) and marginals">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.sensitivity"
               helpContextId="samiam_analysis_context"
               label="Sensitivity"
               mnemonic="S"
               style="push"
               tooltip="Compute the sensitivity analysis for the selected value">
         </command>
         <separator
               name="calculations"
               visible="true">
         </separator>
         <command
               commandId="net.certware.evidence.hugin.view.evidence.save"
               helpContextId="samiam_analysis_context"
               label="Save Evidence As..."
               mnemonic="S"
               style="push"
               tooltip="Save the evidence selections to a file">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.evidence.restore"
               helpContextId="samiam_analysis_context"
               label="Restore Evidence From..."
               mnemonic="R"
               style="push"
               tooltip="Restore the evidence selections from a file">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.export"
               helpContextId="samiam_analysis_context"
               label="Export"
               mnemonic="E"
               style="push"
               tooltip="Write the network structure to an Excel file">
         </command>
         <separator
               name="markers"
               visible="false">
         </separator>
         <command
               commandId="net.certware.evidence.hugin.view.selectnodes"
               helpContextId="samiam_analysis_context"
               label="Select variable nodes"
               mnemonic="S"
               style="push"
               tooltip="Selects all variable nodes in the tree">
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.deselect"
               helpContextId="samiam_analysis_context"
               label="Deselect all"
               mnemonic="D"
               style="push"
               tooltip="Deselects all variable and state nodes in the tree">
         </command>
         <separator
               name="help"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.certware.evidence.hugin.view.ViewTree?after=additions">
         <command
               commandId="net.certware.evidence.hugin.view.map"
               helpContextId="samiam_analysis_context"
               label="MAP Estimate"
               mnemonic="M"
               style="push"
               tooltip="Compute the maximum a posteriori estimate">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        property="net.certware.evidence.hugin.isSelected">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.mpe"
               helpContextId="samiam_analysis_context"
               label="MPE Estimate"
               mnemonic="P"
               style="push"
               tooltip="Compute the most probable explanation (MPE) values">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        property="net.certware.evidence.hugin.isSelected">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.pre"
               helpContextId="samiam_analysis_context"
               label="Pr(e) Estimate"
               mnemonic="P"
               style="push"
               tooltip="Compute the probability of evidence Pr(e) and marginals">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        property="net.certware.evidence.hugin.isSelected">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.sensitivity"
               helpContextId="samiam_analysis_context"
               label="Sensitivity"
               mnemonic="S"
               style="push"
               tooltip="Compute the sensitivity analysis for the selected value">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        property="net.certware.evidence.hugin.isSelected">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.evidence.save"
               helpContextId="samiam_analysis_context"
               label="Save Evidence As..."
               mnemonic="S"
               style="push"
               tooltip="Save the evidence selections to a file">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        property="net.certware.evidence.hugin.isLoaded">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.evidence.restore"
               helpContextId="samiam_analysis_context"
               label="Restore Evidence From..."
               mnemonic="R"
               style="push"
               tooltip="Restore the evidence selections from a file">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        property="net.certware.evidence.hugin.isLoaded">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.export"
               helpContextId="samiam_analysis_context"
               label="Export"
               mnemonic="E"
               style="push"
               tooltip="Write the network structure to an Excel file">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        property="net.certware.evidence.hugin.isLoaded">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="markers"
               visible="false">
         </separator>
         <command
               commandId="net.certware.evidence.hugin.view.selectnodes"
               helpContextId="samiam_analysis_context"
               label="Select variable nodes"
               mnemonic="S"
               style="push"
               tooltip="Selects all variable nodes in the tree">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        property="net.certware.evidence.hugin.isLoaded">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="net.certware.evidence.hugin.view.deselect"
               helpContextId="samiam_analysis_context"
               label="Deselect all"
               mnemonic="D"
               style="push"
               tooltip="Deselects all variable and state nodes in the tree">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        property="net.certware.evidence.hugin.isSelected">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="help"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/obj16/certware.gif"
               id="net.certware.popup"
               label="CertWare"
               tooltip="CertWare associated UI commands">
            <separator
                  name="cps">
            </separator>
            <command
                  commandId="net.certware.evidence.hugin.view.network.open"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.net">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
