<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="net.certware.core.ui.exportwizard.category"
            class="net.certware.export.wizards.ExportSummaryWizard"
            icon="icons/obj16/icon_DOC_small.png"
            id="net.certware.export.wizard.sacm.doc"
            name="SACM Argument to Word Document">
         <description>
            Exports selected argument files to Word documents.
         </description>
         <selection
               class="org.eclipse.core.resources.IFile">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.certware.export.category"
            description="Exports the selected SACM nodes to a Word Document"
            helpContextId="export_sacm"
            id="net.certware.export.command.sacm"
            name="Export SACM to Word Document">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.certware.export.command.sacm"
            icon="icons/obj16/icon_DOC_small.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.certware.export.sacm.handlers.ExportSACMHandler"
            commandId="net.certware.export.command.sacm"
            helpContextId="export_sacm">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <or>
                     <instanceof
                           value="net.certware.sacm.SACM.Annotation">
                     </instanceof>
                     <instanceof
                           value="net.certware.sacm.SACM.AssuranceCase">
                     </instanceof>
                     <instanceof
                           value="net.certware.sacm.SACM.Datetime">
                     </instanceof>
                     <instanceof
                           value="net.certware.sacm.SACM.ModelElement">
                     </instanceof>
                     <instanceof
                           value="net.certware.sacm.SACM.TaggedValue">
                     </instanceof>
                     <instanceof
                           value="net.certware.sacm.SACM.UtilityElement">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:net.certware.sacm.presentation.SacmEditorID?after=additions">
         <menu
               icon="icons/obj16/export_wiz.gif"
               label="Export"
               mnemonic="E"
               tooltip="Export selection to file system">
            <command
                  commandId="net.certware.export.command.sacm"
                  helpContextId="export_sacm"
                  label="Word Document..."
                  mnemonic="W"
                  style="push"
                  tooltip="Exports SACM node selection to Word document">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="net.certware.export">
      <exportOperation
            class="net.certware.export.sacm.jobs.FileSystemExporter"
            fileExtension="sacm">
      </exportOperation>
      <exportOperation
            class="net.certware.export.sacm.jobs.FileSystemExporter"
            fileExtension="arx">
      </exportOperation>
   </extension>

</plugin>
