<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) Kestrel Technology LLC
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="net.certware.argument.gsn.presentation.GsnModelWizardID"
            name="%_UI_GsnModelWizard_label"
            class="net.certware.argument.gsn.presentation.GsnModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GsnModelFile.gif">
         <description>%_UI_GsnModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.argument.gsn.presentation.GsnEditorID"
            name="%_UI_GsnEditor_label"
            icon="icons/full/obj16/GsnModelFile.gif"
            extensions="gsn"
            class="net.certware.argument.gsn.presentation.GsnEditor"
            contributorClass="net.certware.argument.gsn.presentation.GsnActionBarContributor">
      </editor>
   </extension>

</plugin>
