<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 National Aeronautics and Space Administration
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="net.certware.argument.gsn.presentation.GsnModelWizardID"
            name="GSN Model"
            class="net.certware.argument.gsn.presentation.GsnModelWizard"
            category="net.certware.core.ui.newwizard.category"
            icon="icons/full/obj16/GsnModelFile.gif">
         <description>Creates a new GSN argument model.</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.argument.gsn.presentation.GsnEditorID"
            name="GSN Model Editor"
            icon="icons/full/obj16/GsnModelFile.gif"
            extensions="gsn"
            class="net.certware.argument.gsn.presentation.GsnEditor"
            contributorClass="net.certware.argument.gsn.presentation.GsnActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="net.certware.argument.gsn.providers.GsnPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>
   <!--
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPolicyProvider">
      <PropertiesEditionPolicyProvider
            providerClass="net.certware.argument.gsn.providers.GsnPackagePropertiesEditionProvider">
      </PropertiesEditionPolicyProvider>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionProvider">
      <PropertiesEditionComponentProvider
            providerClass="net.certware.argument.gsn.providers.GsnPackagePropertiesEditionProvider">
      </PropertiesEditionComponentProvider>
   </extension>
   -->

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="net.certware.argument.gsn.properties">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.certware.argument.gsn.properties">
         <propertyTab
               label="Base"
               category="default"
               id="Base">
         </propertyTab>
      </propertyTabs>
   </extension>

  <!-- EEF extensions -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.certware.net/gsn"
            class="net.certware.argument.gsn.providers.GsnEEFAdapterFactory"
            supportedTypes="org.eclipse.emf.eef.runtime.providers.PropertiesEditingProvider"/>
   </extension>
   <extension
         point="org.eclipse.emf.eef.runtime.PropertiesEditionPartProvider">
      <PropertiesEditionPartProvider
            providerClass="net.certware.argument.gsn.providers.GsnPropertiesEditionPartProvider">
      </PropertiesEditionPartProvider>
   </extension>

  <!-- Tabbed properties views extension -->
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="net.certware.argument.gsn.properties"
            labelProvider="org.eclipse.emf.eef.runtime.ui.utils.EEFLabelProvider">
         <propertyCategory
               category="default">
         </propertyCategory>
         <propertyCategory
               category="extended">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.certware.argument.gsn.properties">
         <propertyTab
               id="Base"
               label="Base"
               category="default">
         </propertyTab>

      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.certware.argument.gsn.properties">
         <propertySection
               class="net.certware.argument.gsn.parts.forms.GoalPropertiesEditionPartForm"
               filter="net.certware.argument.gsn.providers.GoalPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.gsn.section.Goal"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.gsn.parts.forms.StrategyPropertiesEditionPartForm"
               filter="net.certware.argument.gsn.providers.StrategyPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.gsn.section.Strategy"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.gsn.parts.forms.JustificationPropertiesEditionPartForm"
               filter="net.certware.argument.gsn.providers.JustificationPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.gsn.section.Justification"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.gsn.parts.forms.ContextPropertiesEditionPartForm"
               filter="net.certware.argument.gsn.providers.ContextPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.gsn.section.Context"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.gsn.parts.forms.AssumptionPropertiesEditionPartForm"
               filter="net.certware.argument.gsn.providers.AssumptionPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.gsn.section.Assumption"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.gsn.parts.forms.SolutionPropertiesEditionPartForm"
               filter="net.certware.argument.gsn.providers.SolutionPropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.gsn.section.Solution"
               tab="Base">
         </propertySection>
         <propertySection
               class="net.certware.argument.gsn.parts.forms.EvidencePropertiesEditionPartForm"
               filter="net.certware.argument.gsn.providers.EvidencePropertiesEditionProvider$EditionFilter"
               id="net.certware.argument.gsn.section.Evidence"
               tab="Base">
         </propertySection>
      </propertySections>
   </extension>   

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.certware.perspective">
         <newWizardShortcut
               id="net.certware.argument.gsn.presentation.GsnModelWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
