<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 Kestrel Technology LLC
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="net.certware.argument.gsn.presentation.GsnModelWizardID"
            name="GSN Model"
            class="net.certware.argument.gsn.presentation.GsnModelWizard"
            category="net.certware.core.ui.newwizard.category"
            icon="icons/full/obj16/GsnModelFile.gif">
         <description>Creates a new GSN argument model.</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.argument.gsn.presentation.GsnEditorID"
            name="GSN Model Editor"
            icon="icons/full/obj16/GsnModelFile.gif"
            extensions="gsn"
            class="net.certware.argument.gsn.presentation.GsnEditor"
            contributorClass="net.certware.argument.gsn.presentation.GsnActionBarContributor">
      </editor>
   </extension>

</plugin>
