<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.certware.net/argument/sfp/SemiFormalProof" 
       class = "net.certware.argument.sfp.semiFormalProof.SemiFormalProofPackage"
       genModel = "model/generated/SemiFormalProof.genmodel" /> 
	
  </extension>





</plugin>
