<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 Kestrel Technology LLC
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="net.certware.argument.pattern.presentation.PatternModelWizardID"
            name="%_UI_PatternModelWizard_label"
            class="net.certware.argument.pattern.presentation.PatternModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PatternModelFile.gif">
         <description>%_UI_PatternModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.certware.argument.pattern.presentation.PatternEditorID"
            name="%_UI_PatternEditor_label"
            icon="icons/full/obj16/PatternModelFile.gif"
            extensions="pattern"
            class="net.certware.argument.pattern.presentation.PatternEditor"
            contributorClass="net.certware.argument.pattern.presentation.PatternActionBarContributor">
      </editor>
   </extension>

</plugin>
