<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2010 Object Management Group (SMM metamodel)
 Copyright (c) 2010 Castor Technology (ecore from schema, Eclipse GMT MODISCO)
 Kestrel Technology LLC (modified generated models) 
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/smm"
            class="net.certware.measurement.smm.SmmPackage"
            genModel="model/smm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="smm"
            class="net.certware.measurement.smm.util.SmmResourceFactoryImpl"/>
   </extension>

</plugin>
