<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2011 Object Management Group (SAEM metamodel)
 Copyright (c) 2011 Kestrel Technology LLC (generated models) 
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http:///evidence.ecore"
            class="net.certware.evidence.evidence.provider.EvidenceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider
               org.eclipse.emf.edit.provider.ITableItemColorProvider
               org.eclipse.emf.edit.provider.IItemColorProvider"/>
   </extension>

</plugin>
